doctype html
html(lang='en')
	head
		title bowflex grid webpage example

		link(
			href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600|Lato:300,400,700',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='../dist/bowflex.min.css',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='guide.min.css',
			rel='stylesheet',
			type='text/css'
		)
		script(
			src='https://code.jquery.com/jquery-1.12.4.min.js'
			type='text/javascript'
			integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ='
		  crossorigin='anonymous'
		)

		script(
			src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'
			type='text/javascript'
		)
		script(
			src='guide.js'
			type='text/javascript'
		)
		
	body

		section#default.helpers
			h2 Default Flex
			header
				p default layout rules for a simple flex attribute
			div(bow)
				div(flex)
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
			div(bow)
				div(flex)
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
			div(bow)
				div(flex)
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV

		section#wrapper.helpers
			h2 Fluid Wrappers
			p ignore max-width container rules
			div(bow='fluid')
				div(flex)
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
			div(bow)
				div(flex='fluid')
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
			div(bow='fluid')
				div(flex='fluid')
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV
					.b.wow.zoomIn DIV

		h2 Columns 

		section#even.helpers
			h3 Even
			div(bow)
				div(flex)
					- var n = 0
					while n < 2
						.b.wow.zoomIn(col='6')
						- n++
			div(bow)
				div(flex)
					- var n = 0
					while n < 3
						.b.wow.zoomIn(col='4')
						- n++
			div(bow)
				div(flex)
					- var n = 0
					while n < 4
						.b.wow.zoomIn(col='3')
						- n++
			div(bow)
				div(flex)
					- var n = 0
					while n < 6
						.b.wow.zoomIn(col='2')
						- n++
			div(bow)
				div(flex)
					- var n = 0;
					while n < 12
						.b.wow.zoomIn(col='1')
						- n++

		section#compliment.helpers
			h3 Complimentary
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='1')
					.b.wow.slideInRight(col='11')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='2')
					.b.wow.slideInRight(col='10')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='3')
					.b.wow.slideInRight(col='9')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='4')
					.b.wow.slideInRight(col='8')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='5')
					.b.wow.slideInRight(col='7')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='6')
					.b.wow.slideInRight(col='6')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='7')
					.b.wow.slideInRight(col='5')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='8')
					.b.wow.slideInRight(col='4')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='9')
					.b.wow.slideInRight(col='3')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='10')
					.b.wow.slideInRight(col='2')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='11')
					.b.wow.slideInRight(col='1')

		section#common.helpers
			h3 Common 
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='9')
					.b.wow.slideInRight(col='3')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='4')
					.b.wow.zoomIn(col='4')
					.b.wow.slideInRight(col='4')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='3')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='3')
					.b.wow.slideInRight(col='3')
			div(bow)
				div(flex)
					.b.wow.slideInLeft(col='3')
					.b.wow.zoomIn(col='6')
					.b.wow.slideInRight(col='3')

		h2 Horizontal Alignment

		section#left.helpers.atts
			h3 Left Align
			div(bow)
				div(flex='left')
					.b.wow.slideInRight(col='10')
			div(bow)
				div(flex='left')
					.b.wow.slideInRight(col='2')
					.b.wow.slideInRight(col='6')
			div(bow)
				div(flex='left')
					.b.wow.slideInRight(col='3')
					.b.wow.slideInRight(col='3')
					.b.wow.slideInRight(col='3')
			div(bow)
				div(flex='left')
					.b.wow.slideInRight(col='6')
					.b.wow.slideInRight(col='6')

		section#center.helpers.atts
			h3 Center Align
			div(bow)
				div(flex='center')
					.b.wow.zoomIn(col='2')
					.b.wow.zoomIn(col='8')
			div(bow)
				div(flex='center')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='3')

		section#right.helpers.atts
			h3 Right Align
			div(bow)
				div(flex='right')
					.b.wow.slideInLeft(col='2')
					.b.wow.slideInLeft(col='8')
			div(bow)
				div(flex='right')
					.b.wow.slideInLeft(col='3')
					.b.wow.slideInLeft(col='3')
					.b.wow.slideInLeft(col='3')
						
		section#around.helpers.atts
			h3 Space Around
			div(bow)
				div(flex='around')
					.b.wow.rubberBand(col='2')
					.b.wow.rubberBand(col='8')
			div(bow)
				div(flex='around')
					.b.wow.rubberBand(col='3')
					.b.wow.rubberBand(col='3')
					.b.wow.rubberBand(col='3')

		section#between.helpers.atts
			h3 Space Between
			div(bow)
				div(flex='between')
					.b.wow.fadeInRight(col='3')
					.b.wow.zoomIn(col='3')
					.b.wow.fadeInLeft(col='3')
			div(bow)
				div(flex='between')
					.b.wow.fadeInRight(col='2')
					.b.wow.fadeInLeft(col='8')

		h2 Vertical Alignment

		section#top.helpers.atts
			h3 Top
			div(bow)
				div(flex='top')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInUp(col='3')

		section#middle.helpers.atts
			h3 Middle
			div(bow)
				div(flex='middle')
					.b.wow.flipInX(col='3')
					.b.wow.flipInX(col='3')
					.b.wow.flipInX(col='3')
					.b.wow.flipInX(col='3')

		section#bottom.helpers.atts
			h3 Bottom
			div(bow)
				div(flex='bottom')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInDown(col='3')

		section#stretch.helpers.atts
			h3 Stretch
			div(bow)
				div(flex='stretch')
					.b.wow.bounceIn(col='3')
					.b.wow.bounceIn(col='3')
					.b.wow.bounceIn(col='3')
					.b.wow.bounceIn(col='3')

		section#baseline.helpers.atts
			h3 Baseline
			div(bow)
				div(flex='baseline')
					.b.wow.flipInX(col='3') 1
					.b.wow.flipInX(col='3') 2
					.b.wow.flipInX(col='3') 3
					.b.wow.flipInX(col='3') 4

		h2 Column Overrides

		section#self-top.helpers.atts
			h3 Self Top
			div(bow)
				div(flex='bottom')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInUp.alt(col='3 top') *
					.b.wow.slideInDown(col='3')

		section#self-middle.helpers.atts
			h3 Self Middle
			div(bow)
				div(flex='bottom')
					.b.wow.slideInDown(col='3')
					.b.wow.slideInDown(col='3')
					.b.wow.flipInX.alt(col='3 middle') *
					.b.wow.slideInDown(col='3')

		section#self-bottom.helpers.atts
			h3 Self Bottom
			div(bow)
				div(flex='top')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInDown.alt(col='3 bottom') *
					.b.wow.slideInUp(col='3')

		section#self-stretch.helpers.atts
			h3 Self Stretch
			div(bow)
				div(flex='top')
					.b.wow.slideInUp(col='3')
					.b.wow.slideInUp(col='3')
					.b.wow.bounceIn.alt(col='3 stretch') *
					.b.wow.slideInUp(col='3')

		section#self-baseline.helpers.atts
			h3 Self Baseline
			div(bow)
				div(flex='middle')
					.b.wow.flipInX(col='3') 1
					.b.wow.flipInX(col='3') 2
					.b.wow.flipInX.alt(col='3 baseline') 3
					.b.wow.flipInX(col='3') 4

		h2 Rows

		section#row.helpers.atts
			h3 Row (Default)
			div(bow)
				div(flex='row')
					.b.wow.slideInRight(col='3') 1
					.b.wow.slideInRight(col='3') 2
					.b.wow.slideInRight(col='3') 3
					.b.wow.slideInRight(col='3') 4

		section#rowrev.helpers.atts
			h3 Row-Reverse
			div(bow)
				div(flex='rowrev')
					.b.wow.slideInLeft(col='3') 1
					.b.wow.slideInLeft(col='3') 2
					.b.wow.slideInLeft(col='3') 3
					.b.wow.slideInLeft(col='3') 4

		h2 Columns

		section#vert.helpers.atts
			h3 Vertical
			div(bow)
				div(flex='vert')
					.b.wow.slideInTop(col='10') 1
					.b.wow.slideInDown(col='8') 2
					.b.wow.slideInDown(col='6') 3
					.b.wow.slideInDown(col='4') 4

		section#vertrev.helpers.atts
			h3 Vertical Reverse
			div(bow)
				div(flex='vertrev')
					.b.wow.slideInUp(col='10') 1
					.b.wow.slideInUp(col='8') 2
					.b.wow.slideInUp(col='6') 3
					.b.wow.slideInUp(col='4') 4

		section#vert-center.helpers.atts
			h3 Vertical Center
			div(bow)
				div(flex='vert center')
					.b.wow.zoomIn(col='10') 1
					.b.wow.zoomIn(col='8') 2
					.b.wow.zoomIn(col='6') 3
					.b.wow.zoomIn(col='4') 4

		section#vert-right.helpers.atts
			h3 Vertical Right
			div(bow)
				div(flex='vert right')
					.b.wow.slideInDown(col='10') 1
					.b.wow.slideInDown(col='8') 2
					.b.wow.slideInDown(col='6') 3
					.b.wow.slideInDown(col='4') 4

		section#vert-self-left.helpers.atts
			h3 Vertical Self Left
			div(bow)
				div(flex='vert right')
					.b.wow.slideInDown(col='10') 1
					.b.wow.slideInDown(col='8') 2
					.b.wow.slideInDown.alt(col='6 left') 3
					.b.wow.slideInDown(col='4') 4

		section#vert-self-center.helpers.atts
			h3 Vertical Self Center
			div(bow)
				div(flex='vert right')
					.b.wow.slideInDown(col='10') 1
					.b.wow.slideInDown(col='8') 2
					.b.wow.slideInDown.alt(col='6 center') 3
					.b.wow.slideInDown(col='4') 4
					
		section#vert-self-right.helpers.atts
			h3 Vertical Self Right
			div(bow)
				div(flex='vert left')
					.b.wow.slideInDown(col='10') 1
					.b.wow.slideInDown(col='8') 2
					.b.wow.slideInDown.alt(col='6 right') 3
					.b.wow.slideInDown(col='4') 4

		h2 Wrapping Rows

		section#wrap.helpers.atts
			h3 Wrap
			div(bow)
				div(flex='wrap')
					.b.wow.fadeInRight(col='4') 1
					.b.wow.fadeInRight(col='8') 2
					.b.wow.fadeInRight(col='7', data-wow-delay="500ms") 3
					.b.wow.fadeInRight(col='5', data-wow-delay="500ms") 4

		section#wrap-margin.helpers.atts
			h3 Wrap Margins
			div(bow)
				div(flex='wrap left')
					.b.wow.zoomIn(col='6') 1
					.b.wow.zoomIn(col='6') 2
					.b.wow.zoomIn(col='7') 3
					.b.wow.zoomIn(col='3') 4
				div(flex='wrap left')
					.b.wow.zoomIn(col='6') 1
					.b.wow.zoomIn(col='6') 2
					.b.wow.zoomIn.alt(col='7 flush') 3
					.b.wow.zoomIn(col='3') 4

		section#wraprev.helpers.atts
			h3 Wrap Reverse
			div(bow)
				div(flex='wraprev')
					.b.wow.fadeInRight(col='4') 1
					.b.wow.fadeInRight(col='8') 2
					.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
					.b.wow.fadeInLeft(col='5', data-wow-delay="500ms") 4

		section#wraprev-margin.helpers.atts
			h3 Wrap Reverse Margins
			div(bow)
				div(flex='right')
					.b.wow.fadeInLeft(col='6') 1
					.b.wow.fadeInLeft(col='6') 2
					.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
					.b.wow.fadeInLeft(col='3', data-wow-delay="500ms") 4
				div(flex='right')
					.b.wow.fadeInLeft(col='6') 1
					.b.wow.fadeInLeft.alt(col='6 flush') 2
					.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
					.b.wow.fadeInLeft.alt(col='3 flush', data-wow-delay="500ms") 4

		section#nowrap.helpers.atts
			h3 No Wrap
			div(bow)
				div(flex='nowrap')
					.b.wow.bounceIn(col='5')
					.b.wow.bounceIn(col='3')
					.b.wow.bounceIn(col='11')
					.b.wow.bounceIn(col='4')

		h2 Fill

		section#fill-row.helpers.atts
			h3 Fill Cols
			div(bow)
				div(flex='fill')
					.b.wow.bounceIn(col='4')
					.b.wow.bounceIn.alt(col='4')
					.b.wow.bounceIn(col='4')
			div(bow)
				div(flex='fill')
					.b.wow.bounceIn(col='2')
					.b.wow.bounceIn.alt(col='2')
					.b.wow.bounceIn(col='2')
					.b.wow.bounceIn.alt(col='2')
					.b.wow.bounceIn(col='2')
					.b.wow.bounceIn.alt(col='2')
			div(bow)
				div(flex='fill')
					.b.wow.bounceIn(col='6')
					.b.wow.bounceIn.alt(col='4')

		section#fill-cols.helpers
			h3 Fill Single Col
			div(bow)
				div(flex)
					.b.wow.zoomIn(col='9')
					.b.wow.zoomIn(col='3')
				div(flex)
					.b.wow.bounceIn.alt(col='9 fill') *
					.b.wow.zoomIn(col='3')
			div(bow)
				div.atts(flex='left')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='4')
					.b.wow.zoomIn(col='3')
				div.atts(flex='left')
					.b.wow.zoomIn(col='3')
					.b.wow.bounceIn.alt(col='4 fill') *
					.b.wow.zoomIn(col='3')
			div(bow)
				div.atts(flex='right')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='4')
					.b.wow.zoomIn(col='3')
				div.atts(flex='right')
					.b.wow.zoomIn(col='3')
					.b.wow.bounceIn.alt(col='4 fill') *
					.b.wow.zoomIn(col='3')
			div(bow)
				div.atts(flex='between')
					.b.wow.zoomIn(col='3')
					.b.wow.zoomIn(col='4')
					.b.wow.zoomIn(col='3')
				div.atts(flex='between')
					.b.wow.zoomIn(col='3')
					.b.wow.bounceIn.alt(col='4 fill') *
					.b.wow.zoomIn(col='3')

		h2 Responsive

		section#responsive.helpers
			h3 Responsive Flex
			div(bow)#responsive-flex
				div(flex='around' flex-sml='center' flex-med='between' flex-lrg='left' flex-xlg='right')
					.b.wow.zoomIn(col='1')
					.b.wow.zoomIn(col='1')
					.b.wow.zoomIn(col='1')

			h3 Responsive Cols
			div(bow)#responsive-cols
				div(flex)
					.b.wow.zoomIn(col='12' col-sml='5' col-med='8' col-lrg='5' col-xlg='10')
					.b.wow.zoomIn(col='12' col-sml='4' col-med='4' col-lrg='7' col-xlg='2')
				div(flex)
					.b.wow.zoomIn(col='12' col-sml='6' col-med='3' col-lrg='6' col-xlg='3')
					.b.wow.zoomIn(col='12' col-sml='6' col-med='3' col-lrg='6' col-xlg='3')
					.b.wow.zoomIn(col='12' col-sml='6' col-med='3' col-lrg='6' col-xlg='3')
					.b.wow.zoomIn(col='12' col-sml='6' col-med='3' col-lrg='6' col-xlg='3')

			h3 Hiding a Col
			div(bow)#responsive-hide-up
				div(flex)
					.b.wow.zoomIn(col='12')
					.b.wow.zoomIn(col='0' col-sml='12')
					.b.wow.zoomIn(col='0' col-med='12')
					.b.wow.zoomIn(col='0' col-lrg='12')
					.b.wow.zoomIn(col='0' col-xlg='12')
			div(bow)#responsive-hide-down
				div(flex)
					.b.wow.zoomIn(col='12')
					.b.wow.zoomIn(col='12' col-sml='0')
					.b.wow.zoomIn(col='12' col-med='0')
					.b.wow.zoomIn(col='12' col-lrg='0')
					.b.wow.zoomIn(col='12' col-xlg='0')
			div(bow)#responsive-hide-between
				div(flex)
					.b.wow.zoomIn(col='12')
					.b.wow.zoomIn(col='0' col-sml='12' col-med='0')
					.b.wow.zoomIn(col='0' col-med='12' col-lrg='0')
					.b.wow.zoomIn(col='0' col-lrg='12' col-xlg='0')

		h2 Overrides

		section#overrids.helpers
			h3 Self
			h3 Flush Containers
			h3 Flush Cols
			h3 Fill Containers
			h3 Fill Cols

		h2#play Playground
