doctype html
html(lang='en')
	head
		title bowflex grid webpage example

		link(
			href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600|Lato:300,400,700',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='../dist/bowflex.min.css',
			rel='stylesheet',
			type='text/css'
		)
		link(
			href='guide.min.css',
			rel='stylesheet',
			type='text/css'
		)
		script(
			src='https://code.jquery.com/jquery-1.12.4.min.js'
			type='text/javascript'
			integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ='
		  crossorigin='anonymous'
		)

		script(
			src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'
			type='text/javascript'
		)
		script(
			src='guide.js'
			type='text/javascript'
		)
		
	body

		include _intro.pug
		include _default.pug
		include _columns.pug
		include _justify-content.pug
		include _align-items.pug
		include _align-self.pug
		include _flex-direction.pug
		include _column-justify-content.pug
		include _flex-wrap.pug
		include _overrides.pug
		include _responsive.pug
		include _playground.pug

		h2 todo
		section#overrids.helpers
			h3 Self
			h3 Flush Containers
			h3 Flush Cols
			h3 Fill Containers
			h3 Fill Cols
